
.App{
    flex: 1;
    padding-right: 80px;
    padding-left: 80px;
    display: flex;
    height: 100%;
    flex-direction: row;
    background: linear-gradient(
            to bottom right,
            #FFFFFF 0%,
            #FFFFFF 50%,
            #FFF3EB 50%,
            #FFF3EB 100%
    );
    justify-content: center;
    align-items: center;
}
.App.end{
    background: #E5E5E5;
}
.App .name-and-btn {
    display: flex;
    gap: 64px;
    flex-direction: column;
}
.App .name-and-btn .summary{
    display: flex;
    flex-direction: column;
}
.App .name-and-btn .summary .score{
    font-weight: 600;
    font-size: 32px;
    opacity: .5;
}
.App .name-and-btn span {
    font-weight: 600;
    font-size: 56px;
}
.App .name-and-btn .button {
    width: 294px;
    height: 64px;
}
.App  .hand svg {
    width: 95%;
    height: 95%;
    min-width: 450px;
}

@media screen and (max-width:900px) {
    .App{
        padding-right: 16px;
        padding-left: 16px;
        flex-direction: column;
    }
    .App .name-and-btn span {
        font-size: 32px;
        font-weight: 600;
        line-height: 37px;
        text-align: center;
    }
    .App .name-and-btn {
        margin-top: 24px;
        gap: 102px;
    }
    .App .name-and-btn .button {
        width: 100%;
    }
    .App .name-and-btn .summary .score{
        font-size: 18px;
    }
    .App  .hand svg {
        width: 100%;
        height: 100%;
        min-width: inherit;
    }
}